.project-content p {
    text-indent: 2.75rem /* 44px */;
}

#teleop-page {
    background: url('/assets/images/teleop_console/nasa-moon-surface.jpg');
    background-attachment: fixed;
    background-size: cover;
}

/* Photo by <a href="https://unsplash.com/@markcjn?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Mark Chan</a> on <a href="https://unsplash.com/photos/a-black-cell-phone-JhtSpYfAE14?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
*/
#LemonDrop-page{
    background: url('/assets/images/teleop_console/nasa-moon-surface.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#ResearchBuddy-page{
    background: url('/assets/images/teleop_console/nasa-moon-surface.jpg');
    background-attachment: fixed;
    background-size: cover;
}