.project-page{
    background: url('/assets/images/starry_night_bg.jpg');
    background-size: cover;
}

@media (max-width: 768px) {
    .project-page-div{
        margin: 0;
        padding: 0;
        width: 100%;
        transition: 0.5s ease;
    }

    
}