.error-page{
    background: url('/assets/images/astronaut-floating-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-height: 1000px){
    #error-top-text{
        height: 28rem;
    }
}