
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top:0;
        left : -100%;
        height: 100%;
        width: 15rem;
        padding: 1rem;
        transition: 0.5s linear;
    }
    
    .sidebar-is-active{
        position: fixed;
        top:0;
        left : 0;
        height: 100%;
        width: 15rem;
        padding: 1rem;
        transition: 0.5s linear;
    }
}

