.project-card:hover{
        transform: scale(1.01) translateX(10px);
        transition: 0.4s ease;
      
}

@media (max-width: 768px) {
        .project-card-container {
                width: 100%;
                height: fit-content;
                display: inline-block;
                position: relative;
                overflow: hidden;
        }

        .project-card-image {
                position: relative;
                margin: 0 auto;
                width: 100%;
                height: 50%;
        }

        .project-card-image img {
                display:block;
                max-width: 100%;
                height: 100%;
                width: 100%;
                margin: auto;
                object-fit: cover;
                float:none;
                align-content: center;
                overflow: hidden;
        }

        .project-card-info {
                width: 100%;
                height: 50%;
                position: absolute;
                vertical-align: bottom;
                bottom: 0;
                margin: 0.7rem;
                
                text-align: center;
                text-overflow: ellipsis;

        }
}